datanucleus.schema.autoCreateTables true
spark.databricks.delta.preview.enabled true
spark.hadoop.datanucleus.fixedDatastore false

spark.hadoop.javax.jdo.option.ConnectionDriverName com.microsoft.sqlserver.jdbc.SQLServerDriver
spark.hadoop.javax.jdo.option.ConnectionUserName {{secrets/eh-core-banking/sqlAdministratorLoginUserMetastore}}
spark.hadoop.javax.jdo.option.ConnectionURL jdbc:sqlserver://sqlserver-lakehylia-data-qas.database.windows.net:1433;encrypt=true;trustServerCertificate=true;database=lakehylia_metastore_qas
spark.hadoop.javax.jdo.option.ConnectionPassword {{secrets/eh-core-banking/sqlAdministratorLoginPwdMetastore}}
spark.hadoop.datanucleus.autoCreateSchema true

fs.azure.account.oauth2.client.secret.stlakehyliaqas.dfs.core.windows.net {{secrets/eh-core-banking/sp-databricks-lakehylia-secret}}
fs.azure.account.oauth2.client.endpoint.stlakehyliaqas.dfs.core.windows.net https://login.microsoftonline.com/2332bff0-c61d-442a-80c7-0861cedb52c5/oauth2/token
fs.azure.account.oauth2.client.id.stlakehyliaqas.dfs.core.windows.net {{secrets/eh-core-banking/sp-core-events-client}}
fs.azure.account.oauth.provider.type.stlakehyliaqas.dfs.core.windows.net org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider
fs.azure.account.auth.type.stlakehyliaqas.dfs.core.windows.net OAuth